@let n = node();

<div
  class="blk"
  [class]="'blk blk--' + tone(n.type) + ' blk--' + shape(n)"
  [class.is-on]="isSelected(n.id)"
  draggable="true"
  (click)="onSelect($event, n.id)"
  (dragstart)="onDragStart($event, n.id)"
  (dragend)="onDragEnd()"
>
  <button type="button" class="blk__x" (click)="remove($event, n.id)" aria-label="Remove block">×</button>

  @switch (n.type) {
    @case ('literal') {
      <input
        class="blk__in"
        [value]="n.value"
        (input)="patchValue(n.id, $event)"
        (mousedown)="stop($event)"
        aria-label="Text"
      />
    }
    @case ('function') {
      <span class="blk__w">{{ n.name }}</span>
      @for (arg of n.args; track arg.id; let i = $index) {
        <span
          class="blk__hole"
          [class.is-hot]="isHot(listTarget(n.id, 'args', i))"
          (dragover)="onDragOver($event, listTarget(n.id, 'args', i))"
          (drop)="onDrop($event, listTarget(n.id, 'args', i))"
        >
          <app-command-ast-block [node]="arg" [inset]="true" />
        </span>
      }
      @if (isSelected(n.id)) {
        <button
          type="button"
          class="blk__plus"
          [class.is-mark]="isMarked(listTarget(n.id, 'args', n.args.length))"
          (dragover)="onDragOver($event, listTarget(n.id, 'args', n.args.length))"
          (drop)="onDrop($event, listTarget(n.id, 'args', n.args.length))"
          (click)="markSlot($event, listTarget(n.id, 'args', n.args.length))"
          aria-label="Add argument"
        ></button>
      }
    }
    @case ('getVar') {
      <select
        class="blk__store"
        [attr.title]="n.storage"
        (change)="patchStorage(n.id, $event)"
        (mousedown)="stop($event)"
        aria-label="Storage"
      >
        @for (opt of storageOpts; track opt.id) {
          <option [value]="opt.id" [selected]="opt.id === n.storage">{{ opt.mark }}</option>
        }
      </select>
      @if (listIndex(n); as idx) {
        <span class="blk__w">item</span>
        <span class="blk__hole">
          <app-command-ast-block [node]="idx" [inset]="true" />
        </span>
        <span class="blk__w">of</span>
      }
      <input
        class="blk__in"
        [value]="n.name"
        (input)="patchName(n.id, $event)"
        (mousedown)="stop($event)"
        aria-label="Variable name"
      />
      @if (n.userSelector) {
        <span class="blk__w">of</span>
        <span class="blk__hole">
          <app-command-ast-block [node]="n.userSelector" [inset]="true" />
        </span>
      }
    }
    @case ('template') {
      <div class="blk__say">
        @for (part of n.parts; track part.id) {
          <app-command-ast-block [node]="part" [inset]="true" />
        }
      </div>
    }
    @case ('setVar') {
      @if (listSet(n)) {
        <div class="blk__hat">
          <span class="blk__w">set list</span>
          <select
            class="blk__store"
            (change)="patchStorage(n.id, $event)"
            (mousedown)="stop($event)"
            aria-label="Storage"
          >
            @for (opt of storageOpts; track opt.id) {
              <option [value]="opt.id" [selected]="opt.id === n.storage">{{ opt.mark }}</option>
            }
          </select>
          <input
            class="blk__in"
            [value]="n.name"
            (input)="patchName(n.id, $event)"
            (mousedown)="stop($event)"
            aria-label="List name"
          />
        </div>
        <div
          class="blk__mouth"
          (dragover)="onListOver($event, n.id, itemsOf(n).length)"
          (drop)="onListDrop($event, n.id, itemsOf(n).length)"
        >
          @if (n.value?.type === 'arrayLiteral') {
            @for (item of itemsOf(n); track item.id; let i = $index) {
              @if (ghostItem(n.id, i)) {
                <div class="blk__ghost" aria-hidden="true">drop here</div>
              }
              <div class="blk__item">
                <span class="blk__num">{{ i + 1 }}</span>
                <app-command-ast-block [node]="item" [inset]="true" />
              </div>
            }
            @if (ghostItem(n.id, itemsOf(n).length)) {
              <div class="blk__ghost" aria-hidden="true">drop here</div>
            }
            <button type="button" class="blk__add" (click)="addListItem($event, n.id)">+ add</button>
          } @else {
            <span
              class="blk__hole"
              (dragover)="onDragOver($event, singleTarget(n.id, 'value'))"
              (drop)="onDrop($event, singleTarget(n.id, 'value'))"
              (click)="markSlot($event, singleTarget(n.id, 'value'))"
            >
              @if (n.value) {
                <app-command-ast-block [node]="n.value" [inset]="true" />
              }
            </span>
          }
        </div>
      } @else {
        <span class="blk__w">set</span>
        <select
          class="blk__store"
          (change)="patchStorage(n.id, $event)"
          (mousedown)="stop($event)"
          aria-label="Storage"
        >
          @for (opt of storageOpts; track opt.id) {
            <option [value]="opt.id" [selected]="opt.id === n.storage">{{ opt.mark }}</option>
          }
        </select>
        <input
          class="blk__in"
          [value]="n.name"
          (input)="patchName(n.id, $event)"
          (mousedown)="stop($event)"
          aria-label="Variable name"
        />
        @if (n.userSelector) {
          <span class="blk__w">of</span>
          <span class="blk__hole">
            <app-command-ast-block [node]="n.userSelector" [inset]="true" />
          </span>
        }
        <span class="blk__w">to</span>
        <span
          class="blk__hole"
          [class.is-hot]="isHot(singleTarget(n.id, 'value'))"
          [class.is-mark]="isMarked(singleTarget(n.id, 'value'))"
          (dragover)="onDragOver($event, singleTarget(n.id, 'value'))"
          (drop)="onDrop($event, singleTarget(n.id, 'value'))"
          (click)="markSlot($event, singleTarget(n.id, 'value'))"
        >
          @if (n.value) {
            <app-command-ast-block [node]="n.value" [inset]="true" />
          }
        </span>
      }
    }
    @case ('arrayLiteral') {
      <div class="blk__hat"><span class="blk__w">list</span></div>
      <div
        class="blk__mouth"
        (dragover)="onListOver($event, n.id, n.items.length)"
        (drop)="onListDrop($event, n.id, n.items.length)"
      >
        @for (item of n.items; track item.id; let i = $index) {
          @if (ghostItem(n.id, i)) {
            <div class="blk__ghost" aria-hidden="true">drop here</div>
          }
          <div class="blk__item">
            <span class="blk__num">{{ i + 1 }}</span>
            <app-command-ast-block [node]="item" [inset]="true" />
          </div>
        }
        @if (ghostItem(n.id, n.items.length)) {
          <div class="blk__ghost" aria-hidden="true">drop here</div>
        }
        <button type="button" class="blk__add" (click)="addListItem($event, n.id)">+ add</button>
      </div>
    }
    @case ('exists') {
      <span class="blk__w">has</span>
      <select
        class="blk__store"
        (change)="patchStorage(n.id, $event)"
        (mousedown)="stop($event)"
        aria-label="Storage"
      >
        @for (opt of storageOpts; track opt.id) {
          <option [value]="opt.id" [selected]="opt.id === n.storage">{{ opt.mark }}</option>
        }
      </select>
      <input
        class="blk__in"
        [value]="n.name"
        (input)="patchName(n.id, $event)"
        (mousedown)="stop($event)"
        aria-label="Variable name"
      />
      @if (n.userSelector) {
        <span class="blk__w">of</span>
        <span class="blk__hole">
          <app-command-ast-block [node]="n.userSelector" [inset]="true" />
        </span>
      }
    }
    @case ('deleteVar') {
      <span class="blk__w">delete</span>
      <select
        class="blk__store"
        (change)="patchStorage(n.id, $event)"
        (mousedown)="stop($event)"
        aria-label="Storage"
      >
        @for (opt of storageOpts; track opt.id) {
          <option [value]="opt.id" [selected]="opt.id === n.storage">{{ opt.mark }}</option>
        }
      </select>
      <input
        class="blk__in"
        [value]="n.name"
        (input)="patchName(n.id, $event)"
        (mousedown)="stop($event)"
        aria-label="Variable name"
      />
      @if (n.userSelector) {
        <span class="blk__w">of</span>
        <span class="blk__hole">
          <app-command-ast-block [node]="n.userSelector" [inset]="true" />
        </span>
      }
    }
    @case ('binary') {
      <span
        class="blk__hole"
        [class.is-hot]="isHot(singleTarget(n.id, 'left'))"
        (dragover)="onDragOver($event, singleTarget(n.id, 'left'))"
        (drop)="onDrop($event, singleTarget(n.id, 'left'))"
        (click)="markSlot($event, singleTarget(n.id, 'left'))"
      >
        @if (n.left) {
          <app-command-ast-block [node]="n.left" [inset]="true" />
        }
      </span>
      <select class="blk__op" (change)="patchOp(n.id, $event)" (mousedown)="stop($event)" aria-label="Operator">
        @for (op of ops; track op) {
          <option [value]="op" [selected]="op === n.operator">{{ op }}</option>
        }
      </select>
      <span
        class="blk__hole"
        [class.is-hot]="isHot(singleTarget(n.id, 'right'))"
        (dragover)="onDragOver($event, singleTarget(n.id, 'right'))"
        (drop)="onDrop($event, singleTarget(n.id, 'right'))"
        (click)="markSlot($event, singleTarget(n.id, 'right'))"
      >
        @if (n.right) {
          <app-command-ast-block [node]="n.right" [inset]="true" />
        }
      </span>
    }
    @case ('ternary') {
      @for (branch of ifChain(n); track branch.id; let i = $index) {
        <div class="blk__hat">
          <span class="blk__w">{{ i === 0 ? 'if' : 'else if' }}</span>
          <span
            class="blk__hole"
            [class.is-hot]="isHot(singleTarget(branch.id, 'test'))"
            (dragover)="onDragOver($event, singleTarget(branch.id, 'test'))"
            (drop)="onDrop($event, singleTarget(branch.id, 'test'))"
            (click)="markSlot($event, singleTarget(branch.id, 'test'))"
          >
            @if (branch.test) {
              <app-command-ast-block [node]="branch.test" [inset]="true" />
            }
          </span>
        </div>
        <div
          class="blk__mouth"
          [class.is-hot]="isHot(singleTarget(branch.id, 'consequent'))"
          (dragover)="onDragOver($event, singleTarget(branch.id, 'consequent'))"
          (drop)="onDrop($event, singleTarget(branch.id, 'consequent'))"
          (click)="markSlot($event, singleTarget(branch.id, 'consequent'))"
        >
          @if (branch.consequent) {
            <app-command-ast-block [node]="branch.consequent" />
          }
        </div>
      }
      @if (ifElse(n); as elseBody) {
        <div class="blk__hat"><span class="blk__w">else</span></div>
        <div
          class="blk__mouth"
          [class.is-hot]="isHot(singleTarget(ifElseParent(n).id, 'alternate'))"
          (dragover)="onDragOver($event, singleTarget(ifElseParent(n).id, 'alternate'))"
          (drop)="onDrop($event, singleTarget(ifElseParent(n).id, 'alternate'))"
          (click)="markSlot($event, singleTarget(ifElseParent(n).id, 'alternate'))"
        >
          <app-command-ast-block [node]="elseBody" />
        </div>
      }
    }
    @case ('commandRef') {
      <span class="blk__w">run</span>
      <input
        class="blk__in"
        [value]="n.commandName"
        (input)="patchCommand(n.id, $event)"
        (mousedown)="stop($event)"
        aria-label="Command name"
      />
      @for (arg of n.args; track arg.id) {
        <app-command-ast-block [node]="arg" [inset]="true" />
      }
    }
    @case ('loopVar') {
      <span class="blk__w">#</span>
      <input
        class="blk__in"
        [value]="n.name"
        (input)="patchName(n.id, $event)"
        (mousedown)="stop($event)"
        aria-label="Loop variable"
      />
    }
    @case ('forLoop') {
      <div class="blk__hat">
        <span class="blk__w">repeat</span>
        <input
          class="blk__in blk__in--num"
          [value]="repeatCount(n)"
          (input)="patchRepeat(n, $event)"
          (mousedown)="stop($event)"
          aria-label="Times"
        />
        <span class="blk__w">times</span>
      </div>
      <div class="blk__mouth">
        @for (child of n.body; track child.id; let i = $index) {
          <div
            class="blk__gap"
            [class.is-hot]="isHot(listTarget(n.id, 'body', i))"
            (dragover)="onDragOver($event, listTarget(n.id, 'body', i))"
            (drop)="onDrop($event, listTarget(n.id, 'body', i))"
          ></div>
          <app-command-ast-block [node]="child" />
        }
        <button
          type="button"
          class="blk__plus blk__plus--row"
          [class.is-mark]="isMarked(listTarget(n.id, 'body', n.body.length))"
          (dragover)="onDragOver($event, listTarget(n.id, 'body', n.body.length))"
          (drop)="onDrop($event, listTarget(n.id, 'body', n.body.length))"
          (click)="markSlot($event, listTarget(n.id, 'body', n.body.length))"
          aria-label="Add to loop"
        ></button>
      </div>
    }
    @case ('group') {
      <div class="blk__mouth blk__mouth--flat">
        @for (child of n.children; track child.id; let i = $index) {
          <app-command-ast-block [node]="child" [inset]="true" />
        }
        <button
          type="button"
          class="blk__plus"
          (dragover)="onDragOver($event, listTarget(n.id, 'children', n.children.length))"
          (drop)="onDrop($event, listTarget(n.id, 'children', n.children.length))"
          (click)="markSlot($event, listTarget(n.id, 'children', n.children.length))"
          aria-label="Add to stack"
        ></button>
      </div>
    }
    @default {
      <span class="blk__w">{{ n.type }}</span>
    }
  }
</div>
